
//NET "selectProduct[0]" PULLUP;
NET "selectProduct[0]" LOC = "P51";
//NET "selectProduct[1]" PULLUP;
NET "selectProduct[1]" LOC = "P41";
//NET "selectProduct[2]" PULLUP;
NET "selectProduct[2]" LOC = "P35";
//NET "selectProduct[3]" PULLUP;
NET "selectProduct[3]" LOC = "P33";
//NET "nickel" PULLUP;
NET "nickel" LOC = "P40";
//NET "dime" PULLUP;
NET "dime" LOC = "P34";
//NET "quater" PULLUP;
NET "quater" LOC = "P32";
//NET "dollar" PULLUP;
NET "dollar" LOC = "P29";
NET "out_lcd[0]" LOC = "P1";
NET "out_lcd[1]" LOC = "P143";
NET "out_lcd[2]" LOC = "P141";
NET "clk" LOC = "P56";
NET "cancel" LOC = "P116";
NET "out_led" LOC = "P131";
NET "LED_button0" LOC = "P121";
NET "LED_button1" LOC = "P119";
NET "LED_button2" LOC = "P117";
NET "LED_button3" LOC = "P115";
NET "LED_button4" LOC = "P112";
NET "LED_button5" LOC = "P105";